<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>I’ve always been fascinated by technology and curious about how things work. Back in highschool, we’d take printers and monitors to pieces to find out what components they had. In university during my four-year computer science studies, I’d enjoy diving deep into a tech problem or spending days to figure how a tool worked. Although I fully understood the tech concepts and navigated my way through any programming assignments, I never really got into writing code. It just wasn’t the thing that excited me about technology.</p>
                    <p>During my first job as a pre-sales engineer, I noticed how much I enjoyed describing technical stuff in writing. Afterwards, I switched to drafting patent applications for software inventions, which helped me learn more about how software works on the inside and I got into the legal side of software development as well. Unfortunately, my position was closed so I decided to pursue a career change. Technical writing was the most logical choice. Many of the day-to-day tasks were similar and a lot of the skills I had gained were transferrable, too.</p>
                    <p>A few months into the profession, I started realizing that technical writing had the perfect balance between tech-savviness and writing for me. I learned about specific tech writing niches and approaches like developer documentation, API docs, docs-as-code, and static site generators. Since then, I’ve been creating developer tutorials following a docs-as-code setup. I especially enjoy the collaboration nature of the docs-as-code approach and how easy and seamless it is to get dev input on your docs. The developer documentation realm is a great fit for me and I’m enjoying it big time.</p>
                    <br>
                </div>
            </div>
        </div>
</section>